<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- body%>
    <h2>Navigate</h2>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/dinosaurs">dinosaurs</a></li>
        <li><a href="/dinosaurs/new">New dinosaurs</a></li>
        <li><a href="/prehistoric_creatures">prehistoric creatures</a></li>
        <li><a href="/prehistoric_creatures/new">New prehistoric creatures</a></li>
    </ul>
</body>
</html>